[2015-07-18 11:15] varmint09 opened #1 "Installation doesn't work...."
Hopefully I am not doing something stupid but... also not sure why you bother creating an _index.js to load and export a file, when you could just wrap the file in those? Either way its failing to load.

require('angulartics-google-analytics');

var requires = [
    '...',
    'angulartics.google.analytics',
    ...',
  ];

Uncaught Error: [$injector:modulerr] Failed to instantiate module app due

[2015-07-18 14:52] luisfarzati commented on #1
Sorry, I've improved the docs now. This is a plugin, so I was assuming Angulartics was already installed, but I clarified this in the README now.

[code]

This is the complete example. Pretty soon we'll move Angulartics to the new org as well, and you will be able to do

[code]

[2015-07-18 14:55] luisfarzati commented on #1
Regarding your first question about the `index.js`, I liked the way Angular implemented this for their own packages ([angular-resource](https://github.com/angular/bower-angular-resource), [angular-cookies](https://github.com/angular/bower-angular-cookies), etc). One file is for bower, and the other provides a simple thin wrapper for npm.

[2015-07-18 16:27] varmint09 commented on #1
Makes sense, but as angulartics isn't on npm, I can't use the submodule from it either, as bower introduces angular which conflicts with my npm install of angukar.

Guess I'll need to wait for the angulartics to hit npm too.

Many thanks and best of luck.

[2015-07-18 18:08] luisfarzati commented on #1
Sorry, I'm not sure what you mean.

[code]

is not working for you?

It is published on npm, and you can use it as in my example above.

The entire setup should be:

[code]

then in your js file:

[code]

or to make it clearer:

[code]

[2015-07-18 18:12] luisfarzati commented on #1
What I meant with properly packaging angulartics for npm was that it will follow the "Angular way" to export the name of the module (as happens today with the official angular modules resource, cookies, etc.). But the current package works fine if you just `require` it.

[2015-07-18 23:13] varmint09 commented on #1
Hi, yes after the clarification this all works now.

Awesome stuff.

[2015-07-19 15:22] luisfarzati commented on #1
:+1:

[2015-07-19 15:22] #1 closed

[2015-07-27 18:40] seadour opened #3 "bower.json dependencies point to old version of angulartics (1.8.0)"
https://github.com/angulartics/angulartics-google-analytics/blob/master/bower.json

    {
      "name": "angulartics-google-analytics",
      "main": "./dist/angulartics-google-analytics.min.js",
      "dependencies": {
        "angulartics": "~0.18.0"
      },
      "ignore": [
        "**/.*",
        "bower_components",
        "node_modules",
        "example",
        "package.json",

[2015-07-27 19:14] lunks commented on #3
I'll be releasing new versions for angulartics plugins depending on 0.20.0 later today.

[2015-07-27 19:37] seadour commented on #3
Thanks @lunks!

[2015-07-27 22:22] kentcdodds commented on #3
Could you make sure to do the same for `npm` in the `package.json`?

[2015-07-27 22:24] kentcdodds commented on #3
Note, for `npm`, a more appropriate field to add the dependency would be in the `peerDependencies` (and remove it from `dependencies` entirely).

[2015-07-29 15:31] robations opened #4 "Getting duplicate send pageviews on state change"
I've installed the plugin via npm. Running the site on localhost, GA Debug is logging the pageview event twice for each page load or state change (using UI Router).

Quite willing to believe I've made a mistake(s) but would be useful if anyone has suggestions for debugging this. I've removed the extra "send" line from the GA snippet, and angulartics has only been instantiated once in the app.

[2015-07-30 12:09] robations commented on #4
I'll try to replicate this with a minimal example.

[2015-07-30 16:13] robations commented on #4
Okay, ignore, a previous dev had added an `if (window.ga) { ga("send"... }` line in the project.

[2015-07-30 16:13] #4 closed

[2015-07-30 19:00] lunks commented on #3
@kentcdodds could you please elaborate why `angulartics` would be a peer dependency instead of a dependency? IMHO it should be a dependency as we require `angulartics` in order for the plugin to work.

[2015-08-01 02:34] kentcdodds commented on #3
The reason I don't want it as a `dependency` is because when I `npm install angulartics-google-analytics` it installs `angulartics` as a `node_module` inside itself like so:

[code]

This actually turns out to not be a huge problem because you don't actually require angulartics anywhere in your code. However, if you decide to upgrade to ES6 with webpack or browserify, when you start doing this, yo

[2015-08-01 02:38] luisfarzati commented on #3
Yeap, that makes sense.

[2015-08-20 20:45] jaime-ez opened #6 "user Timing"
As I understand there are no methods to track user timing in angulartics-ga...
Anyone working on it?
If not I could give it a try...

Saludos desde Chile :)

[2015-08-20 21:35] seadour commented on #6
What do you mean by user timing? Is it not already a part of Google Analytics?

[2015-08-21 00:05] jaime-ez commented on #6
I'm new to analytics so I apologize beforehand if it is already implemented.
I'm looking to use this feature in angulartics:
https://developers.google.com/analytics/devguides/collection/analyticsjs/user-timings

Looking through the code I didn't saw any method to use it...

Id like to use also:
https://developers.google.com/analytics/devguides/collection/analyticsjs/user-id

If there is already a

[2015-08-21 01:46] seadour commented on #6
Oh I see! That is a good question.

[2015-09-05 05:27] mrsinguyen opened #7 "How to set dynamic UA-xxxxxxxx-y code?"
Currently, I don't know the way we can config the variable allow change GA Tracking ID.

Thanks

[2015-09-08 14:56] donalmurtagh opened #8 "update Google Analytics snippet instructions"
The [instructions](https://github.com/angulartics/angulartics-google-analytics/blob/master/README.md) for adding the GA JS snippet say:

      ga('create', 'UA-XXXXXXXX-X', 'none'); // 'none' while you are working on localhost
      ga('send', 'pageview');  // DELETE THIS LINE!
    </script>

But the current [GA instructions](https://developers.google.com/analytics/devguides/collection/gajs/) indi

[2015-09-08 15:04] donalmurtagh commented on #8
Sorry, I was looking at the wrong page. [This is the correct page](https://developers.google.com/analytics/devguides/collection/analyticsjs/), and it uses a snipped consistent with the docs.

[2015-09-08 15:04] #8 closed

[2015-10-02 18:31] okcompewter opened #10 "Adding Support for Custom Dimensions and Metrics"
I noticed the support for adding custom dimensions or metrics is missing.

Google Analytics allows setting them like this:

`ga('set', 'dimension1', 'Level 1');` [(documentation)](https://support.google.com/analytics/answer/2709828?hl=en#example-session-collection)

or

`ga('set', 'metric1', 1 );` [(documentation)](https://support.google.com/analytics/answer/2709828?hl=en#example-metrics-collectio

[2015-10-06 03:05] mdarveau opened #11 "Could you release to NPM"
Hi, following https://github.com/angulartics/angulartics-google-analytics/pull/5, could you release to NPM?

Thanks!

[2015-10-06 21:00] jmcmichael opened #13 "'google-analytics' string in filename causes plugin to be filtered by various browser privacy exensions"
At least one Chrome privacy extension, uBlock origin, blocks any URL containing the string 'google-analytics', and I imagine other extensions do as well, since that is the name of the google analytics server domain.

You may want to consider a name change as this can be a frustrating problem to troubleshoot, and if developers aren't concatenating/uglifying their applications, total app failure for

[2015-10-16 22:40] yaronguez opened #14 "Unable to get setUsername to work"
Hi there, I'm calling $analytics.setUsername('<USERNAME>') in my code but it doesn't seem to work.  While the session shows up in the Real-Time overview of my default view, it doesn't show up in the Real-Time overview of my User ID view and is thus not recognized by GA as having a Username set.

When I set Usernames from a non-angular website using ga('set', '&uid', '<USERNAME>'); the session does

[2015-10-17 00:12] yaronguez commented on #14
Moving the setUsername to a different part of my application, within a watch event, resolved the issue for some reason.  Odd.

[2015-10-17 00:12] #14 closed

[2015-10-19 15:49] evillemez commented on #6
@jaime-ez I haven't tested this yet, but the `userId` stuff is mentioned in the angulartics readme:

[2015-10-21 17:45] aparij commented on #10
I think this PR : #9  is solving your problem

[2015-10-24 18:13] pavankumarkatakam opened #16 "in docs, there is an instruction to delete ga('send','pageview')"
if i delete that, then it is not setting a session and there is no log in the google console page.

[2015-10-27 13:13] DanWilkerson commented on #14
Hm, I'll take a look.

[2015-10-30 08:44] alaz commented on #6
+1

[2015-11-02 19:14] DanWilkerson commented on #6
tl;dr -> User Timings !== Site Speed Timings, yes this would be great to support @jaime-ez.

For the nerds:
User Timings is a separate hit type that can be used to send millisecond-scoped timings of arbitrary events into Google Analytics for visualization. In the reporting interface, User Timings are found under Behavior -> Site Speed -> User TImings.

They're different than the Page Speed timings

[2015-11-14 01:43] timelf123 commented on #11
Done!

[2015-11-14 01:43] #11 closed

[2015-11-14 01:43] timelf123 commented on #10
This is done, thanks for the suggestion!

[2015-11-14 01:43] #10 closed

[2015-11-16 23:03] timelf123 commented on #16
You must track a pageview with either `$analytics.pageTrack('/my/url');` or using the built in route tracking features. We remove the `ga('send'...` so that Angulartics has full control of when to send pageviews

[2015-11-16 23:03] #16 closed

[2015-11-16 23:03] timelf123 commented on #7
Probably best to do this server side

[2015-11-16 23:03] #7 closed

[2015-11-23 18:09] elmalto commented on #13
Same issue here

[2015-11-25 03:25] timelf123 commented on #13
Thanks for reporting. Any ideas for an alternative name?

[2015-12-01 15:11] thandaanda opened #18 "Unable to set username"
I am using this code to set username for Google Analytics and Mixpanel. Mixpanel works, but GA doesnt

[code]

[2015-12-01 16:59] timelf123 commented on #18
Can you try the solution from https://github.com/angulartics/angulartics-google-analytics/issues/14

moving the setUsername to a watch - and let us know how it goes?

[2015-12-02 06:30] toksea commented on #13
Same issue has discussed here: https://github.com/angulartics/angulartics/issues/58

`angulartics-ga.js` is recommeded.

[2015-12-02 07:20] thandaanda commented on #18
Code worked perfectly. Maybe I was seeing old report. Thanks!!

[2015-12-02 07:20] #18 closed

[2015-12-02 20:35] timelf123 commented on #3
Fixed by https://github.com/angulartics/angulartics-google-analytics/commit/26b3f23d928b5a34a765a348eabd3edd0487a0f2

Thanks @kentcdodds for the direction

[2015-12-02 20:35] #3 closed

[2015-12-08 19:57] icfantv opened #20 "What do you think about adding support for beacons?"
Reading this:  http://stackoverflow.com/questions/30574526/google-analytics-xhr-instead-of-pixel-tracking, what do you guys think about modifying https://github.com/angulartics/angulartics-google-analytics/blob/master/lib/angulartics-google-analytics.js#L96 and allowing for the user to be able to specify whether or not to use beacons?

Is this worth pursuing?

[2015-12-08 19:59] timelf123 commented on #20
It looks easy enough. I can add a PR later this week unless someone beats
me to it

On Tue, Dec 8, 2015 at 1:57 PM, Adam Gordon <notifications@github.com>
wrote:

[2015-12-08 20:17] icfantv commented on #20
Yea.  Think it's worth pursuing?

[2015-12-09 01:38] #20 closed

[2015-12-09 17:42] timelf123 opened #22 "Fix travisci"

[2015-12-28 18:26] timelf123 commented on #13
Good catch @toksea I forgot we had already discussed this :P

[2015-12-28 18:29] timelf123 commented on #6
https://github.com/angulartics/angulartics/pull/413 adds the userTiming handler base needed to pull this off.

As always, we welcome anybody to submit a PR that finishes this up

[2015-12-30 05:25] Emeegeemee commented on #13
Disregard that pull request picked the wrong issue.

[2015-12-30 17:53] #6 closed

[2016-01-01 23:28] DanWilkerson opened #26 "Add support for sending hits to specific accounts"
As it is right now, we're only supporting sending pageviews to all registered accounts and sending events/exceptions/timings to the unnamed tracker. Should we add support for specifying specific accounts to send hits to, or sending hits to all accounts?

[2016-01-02 00:41] DanWilkerson commented on #26
** I see now we're also supporting multiple accounts for Universal Events, although it doesn't appear that we're supporting Classic here

[2016-01-06 12:04] laurent-le-graverend opened #27 "New release needed"
The master branch supports angulartics 1.0 while the current release 0.1.3 has the version ~0.20 as a dependency.

[2016-01-06 16:33] timelf123 commented on #27
Done, thanks

[2016-01-06 16:33] #27 closed

[2016-01-07 13:33] robations opened #28 "peerDependencies change/fix is a breaking change"
The commit "move angulartics to peerDependencies" is a breaking change in that you can't upgrade without fixing some code in a dependent project.

So under semantic versioning this probably should have been a minor version change for 0.x numbers, eg 0.1.2 --> 0.2.0 rather than 0.1.2 --> 0.1.3. But the horse has already bolted.

[2016-01-07 13:33] robations commented on #28
closing! :)

[2016-01-07 13:33] #28 closed

[2016-01-07 13:42] robations opened #29 "Reason not to require angulartics ^1.0.0 rather than ~1.0.0?"
Is there a reason to specify angulartics as a peer dep as `~1.0.0` rather than `^1.0.0`?

If you don't make breaking changes through 1.x then the caret should make for easier dependency management, in my experience. Take for example the scenario `X required ~1.1.1 but you have 1.2.3 installed`. Just a thought.

[2016-01-07 15:58] timelf123 commented on #29
Nope, just spaced out. I'll fix it for next release, thanks!

[2016-01-07 16:01] robations commented on #29
Cool. I'll admit I have a post-it on my monitor explaining the difference between ~ and ^, because I always forget :)

[2016-01-12 10:08] danielsmink opened #30 "Allow to specify a title"
When sending a pageview it would be nice if we could send a custom title along with it. In our application detail pages of objects each have their own title. Right now the plugin just sends the route.

[2016-02-03 21:23] gligoran opened #33 "There should be a check in setDimensionsAndMetrics if properties is null"
The properties set by `$analytics` aren't used solely by `angulartics-google-analytics`, so `null` can be a valid entry for `setUserProperties`, which maps to `setDimensionsAndMetrics` in this plugin.

If null is passed now, this exception is thrown:

```Cannot read property 'dimension1' of null```

[2016-02-11 18:01] timlevett commented on #13
Based on comment from @toksea , I went ahead and did the change in #34.

[2016-02-15 19:14] nschloe opened #36 "export name"
The README says:

As the move been completed yet?

[2016-02-17 19:03] #22 closed

[2016-02-23 01:16] #13 closed

[2016-02-24 18:59] northsoul70 opened #37 "eventTrack() Custom Dimensions are set on the Tracker and are therefore sent with every subsequent event."
A change was made in [9898229](https://github.com/angulartics/angulartics-google-analytics/commit/9898229e9fa203e511aec5aaa62c06d8b48ba961) which sets each custom dimension/metric on the Tracker:

`ga('set', 'dimension' + idx.toString(), properties['dimension' + idx.toString()]);`

This causes every subsequent event to also contain those custom dimensions/metrics (even if they are set up as 'hit'

[2016-02-25 16:50] timelf123 commented on #37
What is the desired behavior here? I'm happy to review a PR.

Change set to send?

[2016-02-25 20:11] DanWilkerson commented on #37
@timelf123 CD's should passed as an object to the send command when the event fires. I'm hoping to put a PR on this Saturday or Sunday.

[2016-02-25 21:03] timelf123 commented on #37
Thanks @northsoul70 for catching this bug and in advance to @DanWilkerson for fixing it!

[2016-02-27 02:30] DanWilkerson commented on #37
@timelf123  yup, on it

[2016-02-27 07:13] DanWilkerson opened #39 "Change trackException to use Events"
Currently, trackException is using the exception hit type, which cannot be reported on natively in the interface and requires a Custom Report. Switching to sending the same data as an Event would preclude the need to roll Custom Report once tracking is in place.

[2016-02-29 12:17] michelem09 opened #40 "Ecommerce support?"
Any plan to support ecommerce features too?

https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce

[2016-03-01 22:46] IdanCo opened #41 "Unable to Unset a Custom Dimension / Metric"
The current implementation of custom dimension/metric does not allow to unset them.

When dealing with a single page applications, setting custom dimensions must be revertible, because they are persistent by design, meaning each ga call made after setting them will continue to pass the same dimensions.

to unset a value, you must pass a null value ([as explained here](http://stackoverflow.com/ques

[2016-03-02 15:39] #33 closed

[2016-03-02 19:22] DanWilkerson commented on #41
Fixed by #38!

[2016-03-02 19:22] #41 closed

[2016-03-03 11:47] IdanCo opened #43 "Improvements to the Dimension / Metric handling"
Following #41 & #42 , i did a little test to find the best way to iterate over the properties -
https://jsfiddle.net/qvLokkou/

Apparently the current implementation is 10x slower than the other method.

I'll create a pull request soon, but since we're talking about a few milliseconds here or there, don't hold your breath :-)

[2016-03-03 13:23] DanWilkerson commented on #43
:laughing:

Awesome, I'll let you know if we snag this in another PR before then :+1: Thanks again for contributing!

[2016-03-04 15:32] DanWilkerson commented on #39
Adding to this discussion, Exception hit type Descriptions are [limited to 150 bytes](https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#exception) by Google Analytics, whereas Event labels and actions [can be up to 500 bytes](https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#ea). I'm going to submit a PR with a fix and some byte c

[2016-03-07 18:39] tsanne opened #45 "angulartics.google.tagmanager is not available"
I am trying to integrate angulartics with our angularjs app.  I am new to angularjs, so hopefully I'm not doing something stupid.

In our app.js file, I added the two modules for angulartics and google tag manager:

    app = root.app = angular.module("CustomerCenterApp", ["ngRoute", "ui.bootstrap", "ngSanitize", "ngAnimate", "mgcrea.ngStrap", "ngIdle",
         "Config", "Logging", "clientBrandin

[2016-03-08 03:54] DanWilkerson commented on #45
Hi Tsanne!

This is a little off-topic for our issues; we don't really do this kind of support/debugging. That said, I'm happy to help you get this ironed out via PM - could you ping me directly either here or at notdanwilkerson@gmail.com? Thanks!

Dan

[2016-03-08 03:54] #45 closed

[2016-03-17 09:24] ddcovery opened #46 "additional trackers (additionalAccountNames) not used by setUserProperties"
setUserProperties sends custom dimensions/metrics to the default tracker, not the additional ones configured by additionalAccountNames

[2016-04-08 17:05] altsanz opened #49 "Change noninteraction on trackEvent method to nonInteracion"
I had to search on the source code why this

[code]

was returning nonInteraction undefined, and it's because angulartics-google-analytics uses noninteraction, instead the same word as official google analytics functionality

This is counter-intuitive and it would be great to change it, I can do a PR with that.

Thanks for the good job anyways.

[2016-04-17 19:59] twall commented on #14
I'm having a similar issue.  It'd be handy to know at what point it's safe to make the `setUsername()` call.  The google analytics debug plugin for chrome claims there's already a "ga" object in existence, which may be part of the problem.

[2016-04-19 06:56] alackmann commented on #40
+1 here!

[2016-04-20 20:54] timelf123 commented on #14
Where are you calling setUsername @twall

[2016-04-20 21:26] twall commented on #14
I have an app.factory which returns a number of functions, one of which is an “authenticate” function, e.g.

app.factory(‘Auth’, [‘$q’, ‘$analytics’, …, function($q, $analytics, …) {
    return {
        authenticate: function () {
            var deferred = $q.defer();
            Accounts.get(function(account) {
                $analytics.setUsername(account.user_id.toString());

[2016-05-02 06:40] fsamir commented on #40
+1

[2016-05-09 20:13] marcocaimi commented on #40
+1

[2016-05-20 18:20] timelf123 commented on #36
Yes, https://github.com/angulartics/angulartics-google-analytics/blob/master/lib/index.js#L2

[2016-05-20 18:20] #36 closed

[2016-06-02 13:34] PLPeeters opened #50 "User ID tracking is not working with analytics.js"
The current version of the code sends the `&uid` parameter, while the analytics.js [documentation](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id#user_id) specifies the name of the parameter is `userId`. This means user ID tracking doesn't work with analytics.js and the current version of the angulartics code.

[2016-06-02 16:08] maliknur opened #52 "How to prevent sending pageView hit"
I have deleted this line on main GA script
`ga('send', 'pageview'); `
and want to send custom pageView with custom page url and title only when I needed it.
However it sends automatically pageView event when any page loads.

Moreover can bower.json include dist/angulartics-ga.min.js as main file rather than unminified version?
Otherwise we need to override bower settings.

[2016-06-02 20:24] timelf123 commented on #52
Check out this comment
https://github.com/angulartics/angulartics/issues/112#issuecomment-54228329

[2016-06-02 20:49] #50 closed

[2016-06-02 21:54] maliknur commented on #52
Thanks, this is exactly what I'm looking for.

[2016-06-02 21:54] #52 closed

[2016-06-07 20:00] lazychino commented on #29
:+1: this is causing npm install to break with angulatics@1.1.0.

[code]

[2016-06-09 08:33] zwacky commented on #49
thanks for pointing this out. i also ran into this **several times**.
i'd go for a solution that accepts both, `nonInteraction` and `noninteraction` for not breaking older projects.

[2016-06-09 11:21] obiyuta commented on #40
+1

[2016-06-10 07:14] Nexxado commented on #29
[code]
i just got this, when i installed angulartics a moment before

[2016-06-13 18:59] timelf123 commented on #29
[0.2.0](https://github.com/angulartics/angulartics-google-analytics/releases/tag/0.2.0) released today, sorry for the wait.

https://github.com/angulartics/angulartics-google-analytics/blob/master/package.json#L48 closes this

[2016-06-13 18:59] #29 closed

[2016-06-13 19:30] maliknur commented on #30
+ for such feature

[2016-06-16 17:10] #49 closed

[2016-06-22 14:17] gabejohnson opened #55 "Update angulartics dependency"
Bower and npm dependencies for angulartics are currently `~1.0.0` and `^1.0.0` respectively. This causes a conflict when I require angulartics explicitly.

[2016-06-27 12:12] kelvynmarte commented on #40
+1

[2016-06-27 15:39] timelf123 commented on #40
Please use the github +1 feature on OP's post if you'd like to see this feature implemented.

[2016-07-04 03:38] vsridhars opened #57 "Hybrid Apps : screenview vs pageview"
Hi,

I have a hybrid app. When I am testing on localhost with a GA web tracker and a sample angular project, I am seeing page views and events reach my GA Dashboard. VirtualPageViews is enabled.

However, I have a hybrid app and hence would have to integrate with a GA app tracker. Once I do that, only the first page view reaches GA. Events reach GA. This is consistent with the SPA behaviour.

When

[2016-07-12 08:53] asendro opened #59 "Multiple tracking codes with google analytics"

[2016-07-17 22:49] #59 closed

[2016-07-29 08:51] sinedied commented on #1
Strange, I have this issue on Safari, while the same code works on Chrome...

[code]

I have the modules declared correctly in my app:
[code]

Any ideas?

[2016-07-29 13:03] sinedied commented on #1
Found the issue: adblock plus on safari simply block the execution of the module code :(
The same code works though on Chrome/Firefox with the adblock plus extension, strange :/

[2016-08-15 01:19] DanWilkerson commented on #39
This has been handled with #44, closing

[2016-08-15 01:19] #39 closed

[2016-08-15 18:00] timelf123 commented on #55
fixed

[2016-08-15 18:00] #55 closed

[2016-08-16 21:42] DanWilkerson commented on #57
You want to use a Web profile for a hybrid app, not the "app" tracking. The App SDKs are meant to work with fully-native apps. If you're using cordova, we have a plugin available for that:

https://github.com/angulartics/angulartics-google-tag-manager-cordova

Angulartics doesn't work with App views.

[2016-08-16 21:42] #57 closed

[2016-08-16 21:43] DanWilkerson commented on #37
This was fixed with #38

[2016-08-17 22:42] #43 closed

[2016-08-19 14:24] Simonig commented on #40
+1

[2016-08-22 17:21] GonzaloShopear opened #65 "Can I use Angular Expressions inside the directive attributes?"
I was wondering if I can, by example, write the next directive:

`<button angular-on="click" angular-event="{{event.type}}"></button>`

[2016-08-25 16:52] chrissom opened #66 "Cross-domain support?"
Hi,

Nice job! Does the cross-domain is supported?

[2016-08-27 07:18] aditcmarix commented on #46
Can any one working on this issue..?

[2016-08-28 04:54] DanWilkerson commented on #40
PR #67 and angulartics/angulartics/#505 adds this feature.

[2016-08-28 13:06] DanWilkerson opened #68 "Currently pageviews are sent to each additional tracker, but events are not"
Right now, pageviews are sent to additional trackers, but events and other hit types are not.

[2016-08-28 13:07] DanWilkerson opened #69 "Events are if/else for UA/Classic, Pageviews do both"
If both classic and universal analytics are on the page, pageviews will be dispatched to both systems. Events do one or the other. This behavior should be standardized.

[2016-08-28 13:51] DanWilkerson opened #70 "User Timings don't currently support Classic Analytics"
https://developers.google.com/analytics/devguides/collection/gajs/gaTrackingTiming

[2016-08-28 13:54] #37 closed

[2016-08-28 13:55] DanWilkerson commented on #46
This shouldn't be too hard to do. I'll add in a configuration for this and pull it in.

[2016-08-28 21:49] DanWilkerson commented on #66
Hi Chrissom,

You'll need to configure this with you Analytics snippet at the moment. Here's the docs to get you started:

https://developers.google.com/analytics/devguides/collection/analyticsjs/cross-domain

Once you've updated the basic configuration of your tracker, you shouldn't need to do anything to angulartics and everything _should_ play nicely. Let me know if otherwise. Closing for now!

[2016-08-28 21:49] #66 closed

[2016-09-08 22:42] CurlyBraceTT commented on #59
Why its closed?

[2016-09-09 19:29] jasonbodily opened #72 "Unenclosed ga triggering error"
The source code appears to include:
[code]
In all other places in the code, ga is enclosed with `if(window.ga) {}` however, here it is not. This throws an error if ga is not present.

[2016-09-19 20:30] #46 closed

[2016-09-19 20:32] DanWilkerson commented on #72
This is fixed via https://github.com/angulartics/angulartics-google-analytics/pull/71 (will log "method not found" to console).

[2016-09-19 20:32] #72 closed

[2016-09-19 20:32] DanWilkerson commented on #69
Fixed via https://github.com/angulartics/angulartics-google-analytics/pull/71

[2016-09-19 20:32] #69 closed

[2016-09-19 20:32] DanWilkerson commented on #68
Fixed via https://github.com/angulartics/angulartics-google-analytics/pull/71

[2016-09-19 20:32] #68 closed

[2016-09-19 20:32] DanWilkerson commented on #40
See https://github.com/angulartics/angulartics-google-analytics/pull/71

[2016-09-19 20:32] #40 closed

[2016-09-19 20:33] DanWilkerson commented on #26
Closing this - approach is all accounts or primary account.

[2016-09-19 20:33] #26 closed

[2016-09-19 20:33] DanWilkerson commented on #70
Fixed in https://github.com/angulartics/angulartics-google-analytics/pull/71

[2016-09-19 20:33] #70 closed

[2016-09-20 16:19] timelf123 commented on #30
This should be added upstream imo, but there are so many ways to do page titles in a SPA..

[2016-09-20 16:21] timelf123 commented on #59
$analyticsProvider.settings.ga.additionalAccountNames = ['ua-123', 'ua-456']

[2016-09-22 23:48] DanWilkerson commented on #30
Seems to me like this should be handled by using the API directly (won't that be necessary anyhow? Since each route would have to be configured?) and turning off auto pageviews.

[2016-09-23 12:12] m-spyratos commented on #30
Per [Google's docs](https://developers.google.com/analytics/devguides/collection/analyticsjs/pages), I would expect something like this:

[code]

That way we could optionally specify `title`, `location` and `page`. Shouldn't Angulartics at least support the API standards?

[2016-09-23 16:29] timelf123 commented on #30
@DanWilkerson exactly right this should be handled via the api - @m-spyratos the core pageTrack method if using route based auto tracking is

## Dynamic title resolution
There are many like it but this one is mine ;) Not a huge fan of using rootScope, so any alternative methods are appreciated. Includes a directive for the `<title>` element that also fires an event when the title changes, and stor

[2016-09-23 21:55] CurlyBraceTT commented on #59
Thanks. I was just using outdated Nuget version, noticed it days after.

[2016-09-24 01:17] timelf123 commented on #59
No problem, glad you have it sorted out

[2016-09-24 05:20] aditcmarix commented on #46
Thanks man to add this.

[2016-09-25 18:43] rainerhahnekamp opened #73 "Google Analytics loaded asynchronously"
Hello,

since I am loading ga.js asynchronously after angular's bootstraping is finished, I am receiving the exception:

`Error: neither Classic nor Universal Analytics detected at bootstrap. Angulartics-GA will ignore all commands!`

Is there some way to trigger the detection of the handler?

[2016-09-26 13:45] DanWilkerson commented on #73
https://developers.google.com/analytics/devguides/collection/analyticsjs/#alternative_async_tracking_snippet

Can you put the first part (copied below) of the alternative snippet above Angulartics?

[code]

If you're using Classic Analytics, you'll need to use this snippet instead:
[code]

[2016-09-26 16:15] rainerhahnekamp commented on #73
Hi Dan,

thanks, that makes sense but I understood that I still have to remove the `ga('send', 'pageview')` line, right?

Greetings,
Rainer

[2016-09-26 17:16] timelf123 commented on #73
Correct, remove the `ga('send', 'pageview');` and let angulartics handle the pageviews

[2016-09-26 17:20] rainerhahnekamp commented on #73
Understood :)
Thanks a lot

[2016-09-26 17:20] #73 closed

[2016-09-30 09:45] morvans opened #74 "bower.json should require angulartics version ^1.2.1"
As angulartics-google-analytics use transactionTrack, it should depends on angulartics at least version 1.2.1 when this event was introduced.

[2016-09-30 13:45] #74 closed

[2016-09-30 14:29] DanWilkerson commented on #30
@m-spyratos I see what you mean. I'll see if we can make this work, but Angulartics isn't designed specifically for Google Analytics - it's meant to be a plugin supporting a broad range of analytics providers with a standard syntax. There are tradeoffs, of course.

[2016-09-30 14:40] m-spyratos commented on #30
@DanWilkerson I totally understand that Angulartics is meant to be generic. To be honest though, I am not so sure that this is a good thing if it poses such limitations. Of course it's not a deal breaker as you can create you own methods to handle specific scenarios, but I think this defeats its purpose.

Nonetheless, this is a great product to setup analytics to your project fast and easy, so it

[2016-09-30 15:09] DanWilkerson commented on #30
@m-spyratos I hear you. It would be nice to support the basic fields object. I'll be able to take a look at this probably this weekend, but don't hold me to it 😄

[2016-09-30 15:12] m-spyratos commented on #30
@DanWilkerson Thanks! No worries about time. If I can be of any help let me know.

[2016-10-02 23:15] DanWilkerson commented on #30
@timelf123 Looks like we could switch from whitelisting properties passed to `angulartics.pageTrack()`. I've been following that convention because it was in place before, but I don't see any reason not to just pass a clone of `properties` to GA, e.g.

[code]
becomes
[code]
Any reason not to do this? This would let users take full advantage of any GA config they'd like without us having to add the

[2016-10-05 15:33] akman003 opened #76 "Setting UA-XXXXXXXX-X tracking code dynamically based on environment"
I'm currently setting the tracking code via `ga('create', 'UA-XXXXXXXX-X', 'auto');` but would like to set a different tracking code depending on my node environment. This would help ensure my analytics data from development doesn't carry over to my production analytics dashboard. Is it possible to set it via `$analyticsProvider` in my Angular config? It's possible to set additional accounts via `

[2016-10-05 15:51] timelf123 commented on #76
Passing in env variables is kind of outside the scope of the project. There are several options depending on how your stack is configured.

http://www.jvandemo.com/how-to-configure-your-angularjs-application-using-environment-variables/

[2016-10-05 15:51] akman003 commented on #65
I can confirm that tracking works properly when using interpolation with an inferred analytics-event, e.g.

[code]

The contents of buttonLabel are getting tracked correctly.

[2016-10-05 15:54] #65 closed

[2016-10-05 15:58] akman003 commented on #76
Thanks, Tim. I wasn't thinking you should be handling env variables, but was curious if I could set the tracking id via `$analyticsProvider` instead of having to set it via `ga('create', 'UA-XXXXXXXX-X', 'auto');`. On my end it would be something like

[code]

angular-google-analytics handles this with `AnalyticsProvider.setAccount('UA-XXXXX-xx');`. But for now I can just set `developerMode` to tr

[2016-10-05 16:00] timelf123 commented on #76
I think that should work -- let me know what you find. Any reason you want to avoid the call to ga?

[2016-10-05 16:11] akman003 commented on #76
I'm only setting `developerMode` to true if `ENVIRONMENT === 'development'`. Will continue tracking in production environments.

We are tracking a lot of events and user timings in GA (REST methods) and would prefer those results in dev environments not get mixed in with the analytics for our production environment. There may be some filtering options in GA's dashboard that could also accomplish t

[2016-10-05 16:11] #76 closed

[2016-10-13 01:50] menocomp opened #78 "exclude ids from URLs"
If I have two urls like:
http://xyz/#/employee/150
http://xyz/#/employee/160
Google analytics treats them as two different page views. How can I exclude the ID part so that both urls are considered as one url?
I am using this line of code in the controller: $analytics.pageTrack('http://xyz/#/employee');
and this actually fixed the issue because it override the default page url sent to google, but

[2016-10-13 18:46] mrudult opened #79 "additionalAccountHitTypes is undefined"
Hi guys,
I randomly get the error `Error: i.settings.ga.additionalAccountHitTypes is undefined`.
It was working fine before v0.3.0.
Can anyone help me on this?
Thanks

[2016-10-14 18:35] TaylorAckley commented on #59
@timelf123 In your example, those are ADDITIONAL GA codes and not the first code + an additional code, correct?   If I only have one additional code, I would not set it to dictionary, but a string with the single additional code, correct?

In my case, I am setting the tracking codes create action as normal:

`ga('create', 'UA-402xxx-1', 'auto');
ga('create', 'UA-4027xxxx-4', 'auto',{'name':'xxx'})

[2016-10-16 16:55] DanWilkerson commented on #59
@TaylorAckley Try setting `$analyticsProvider.settings.ga.additionalAccountName = ['xxx'];`. That setting should be an array of strings, where each string is the `{name: NAME}` configuration set when issuing the create command.

[2016-10-16 16:58] DanWilkerson commented on #79
@mrudult Are you setting your configs like this?

`$analyticsProvider.settings.ga = { ... }`

The additionalAccountHitTypes setting is new in v0.3.0; it allows you to control which hit types are duplicated to the accounts listed in `$analyticsProvider.settings.ga.additionalAccountNames`. By default it is instantiated like this:

[code]

That may be an oversight on our part - we might add checking

[2016-10-17 18:17] DanWilkerson commented on #78
You've basically got two options, as far as I can tell; both involve turning off auto pageview tracking.
1) Write your own auto-pageview tracking handler - here's some code you might use as a jumping off point: http://www.lunametrics.com/blog/2016/05/04/integrating-angularjs-google-tag-manager/ (or you can look at the angulartics source and start there)
2) Wire your router routes to include a rout

[2016-10-17 18:17] #78 closed

[2016-10-17 20:08] timelf123 commented on #78
related to https://github.com/angulartics/angulartics/issues/116

[2016-10-25 09:31] ctesniere opened #80 "Version 0.3.0 on npm"
Hi,

On bower, angulartics-google-analytics is version 0.3.0.

But, currently on npm, is version 0.2.1, you can also update npm ?

[2016-10-25 14:52] timelf123 commented on #80
Published, thanks for letting us know

[2016-10-25 14:52] #80 closed

[2016-10-26 13:41] kukac7 commented on #73
it did not work with the async code, only the other.
if it was a `ga('send', 'pageview')`, you can run the pageview, but the page does not change when you do anything.

[2016-11-02 11:19] stefnoten opened #82 "Page is different for eventTrack vs pageTrack"
For a pageTrack, the url is generated in the following way:
`$analytics.settings.pageTracking.basePath + $location.url()`

For an eventTrack however, the page url is generated in the following way:
`properties.page || window.location.hash.substring(1) || window.location.pathname`

This yields different results for the same page in Google Analytics. Shouldn't they be generated in the same way?

[2016-11-02 14:26] eov1 opened #83 "How to use event tracking?"
The [google docs
](https://developers.google.com/analytics/devguides/collection/analyticsjs/events) show events should be recorded like so:
`ga('send', 'event', [eventCategory], [eventAction], [eventLabel], [eventValue], [fieldsObject]);`

However the README for angulartica-google-analytics shows that you should remove this line :
`      ga('send', 'pageview');  // DELETE THIS LINE!`

How should e

[2016-11-02 15:04] #83 closed

[2016-11-02 17:57] DanWilkerson commented on #82
Yes, you're correct - that should be standardized. I would prefer if we added a helper function to get that value consistently or moved into the dispatchToGa function.

[2016-11-02 17:58] DanWilkerson commented on #79
Since I haven't heard from you @mrudult I'm going to close this issue for the time being, under the assumption that you got it worked out. Please chime in if otherwise.

[2016-11-02 17:58] #79 closed

[2016-11-02 17:58] DanWilkerson commented on #30
@timelf123 just wanted to ping you on this again. I've got a PR in the oven to fix this, but before I submitted I wanted to see what you thought.

[2016-11-02 18:05] timelf123 commented on #30
I'm good with a PR at the minimum ;) The idea looks sound though - no reason we shouldn't conform to the GA API

[2016-11-03 15:44] moravcik commented on #7
For SPA applications it is counterproductive to employ templating engine on server side for just setting dynamic variables. Although it looked promising, I am switching to another lib due to this problem.

[2016-11-03 20:35] timelf123 commented on #7
`$analyticsProvider.settings.ga.additionalAccountName = ['xxx'];`

[2016-11-03 21:49] moravcik commented on #7
Thank you for the tip. However this undocumented feature does not seem like first-class support for this problem. I just need to initialize `angulartics-ga` **after** my `.config()`, where I run the GA snippet code with my resolved tracking ID from server.

[2016-11-03 22:42] timelf123 commented on #7
Can you describe your use case a bit more? It seems like what you are describing is -- do not allow `angulartics-ga` to run until your injected async script has loaded?

[2016-11-03 23:06] moravcik commented on #7
It is close but not the same. I need to control the moment when `angulartics-ga` can grab `ga` and do the stuff. I have SPA application where the first thing I do is that I grab config from server and do the angularJS bootstrap afterwards. AKA, asynchronous bootstrap technique - described [here](https://blog.mariusschulz.com/2014/10/22/asynchronously-bootstrapping-angularjs-applications-with-serve

[2016-11-14 19:17] harshamadala opened #84 "Module 'angulartics' is not available,You either misspelled the module name or forgot to load it"
I am getting this error after following installation:
Module 'angulartics' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

My bower.json:
"dependencies": {
   "xxxx":"xxx",
    "angulartics-google-analytics":"~0.3.0"
  }

Ran bower install command and it created
        bower_com

[2016-11-15 15:28] timelf123 commented on #84
You must include the path to angulartics.js in your script loader or index.html file with `<script>` tag

[2016-11-16 16:42] steveharan opened #85 "Account Id"
Where do you specify the GA account?  Thanks

[2016-11-16 16:48] timelf123 commented on #85
In your normal GA code invocation
` ga('create', 'UA-XXXXXXXX-X', 'none'); // 'none' while you are working on localhost`
or
` ga('create', 'UA-XXXXXXXX-X');`

[2016-11-16 16:51] steveharan commented on #85
Just noticed that in your example, and it’s working.

Thanks a lot!

steve

[2016-11-20 04:41] shenkev opened #86 "Confused about the setup of the project"
Quick question about how the project is assumed to be setup. We aren't using the node_module "angular". Instead we're pulling Angular from the web in index.html. Will this not work?

Right now we start our app using "node server.js" which serves index.html.

Index.html looks something like:
[code]

Index.html imports app.js and app.js looks something like:
[code]
I'm a little confused because the

[2016-11-21 16:17] kukac7 commented on #73
🆙 😕

[2016-11-22 10:34] perdix commented on #40
Nice.. but a documentation would be helpful.
For those whoe look what it could look like see:
https://github.com/angulartics/angulartics-google-analytics/pull/67/commits/d204877dbe00824f8fb82a615680bf8a388f3e9a

[2016-11-22 16:27] timelf123 commented on #86
the `require` instructions assume you are using a module loader like webpack on the frontend. you are able to use angulartics just fine without it, just include

`<script src="path/to/angulartics.js"></script>` in your html and inject 'angulartics'

do this for any other modules you need (angulartics-google-analytics, etc)

[2016-11-22 16:29] timelf123 commented on #73
@kukac7 I don't understand your issue

[2016-11-22 18:01] #85 closed

[2016-11-24 10:20] kukac7 commented on #73
@timelf123 I have a tracking does not work with the alternative snippet.

[2016-11-24 12:58] DanWilkerson commented on #73
@kukac7 this is an exercise in redundancy, as the standard snippet forces Google Analytics to load asynchronously anyways - there's no reason to manually force an async load. You can use the standard snippet and you'll see the performance gains are moot, if any.

That said, please ensure the alternative snippet (everything but the `<script async src="..."></script>` tag are placed above the Angula

[2016-11-24 19:36] Frank3K opened #87 "Transport setting not working anymore"
In commit aa0a779de8fd0b46463816e3d0b24511e102f9d2 (v0.3.0) the `transport` setting [got lost](https://github.com/angulartics/angulartics-google-analytics/commit/aa0a779de8fd0b46463816e3d0b24511e102f9d2#diff-965c9e0c5bdad19390d5dd9880a23abfL142). Now it's not working anymore.

Support for the `transport` setting was introduced in #21 and it is mentioned in the [readme](https://github.com/angularti

[2016-11-25 17:09] DanWilkerson commented on #73
Again, I want to stress that this is A) redundant and B) counterproductive to the purpose of adding Google Analytics to a website; users who browse away from the page before the snippet can load will not be tracked, which causes inconsistencies in reporting and undermines confidence in the data collected. The best practice recommendation is to always put the analytics snippet as high up in the <he

[2016-11-25 17:24] DanWilkerson commented on #30
@timelf123 see #88

[2016-11-25 21:47] DanWilkerson commented on #87
Thanks for pointing this out, I've got a PR in that should fix the issue.

[2016-11-25 21:54] DanWilkerson commented on #82
@timelf123 thoughts here? We could look at something upstream, set a "global" when pageTrack is called, or just copy the logic used upstream into a helper within the plugin. I'd lean towards 1 or 2, in case upstream changes occur further down the line. I think 2 is appropriate, although a bit hackey. 1 seems like the best approach to me at first brush.

[2016-11-26 19:50] #87 closed

[2016-11-26 19:51] #86 closed

[2016-11-27 16:11] DanWilkerson commented on #30
@danielsmink @m-spyratos this is merged in - you can specify a title by passing it with your `properties` object. Docs update is overdue, apologies.

    $analytics.pageTrack({
      title: 'This is the title'  // Is set to the 'Page Title' Dimension in Google Analytics
    });

[2016-11-27 16:11] #30 closed

[2016-11-27 16:14] danielsmink commented on #30
Great thanks!

[2016-11-28 20:51] timelf123 commented on #82
2 seems fine to me but I'm down to extend the current core API too

[2016-11-28 20:52] #84 closed

[2016-12-28 16:32] SangeetAgarwal commented on #1
`
Error: [$injector:modulerr] Failed to instantiate module Repcard due to:
[$injector:modulerr] Failed to instantiate module angulartics.google.analytics due to:
[$injector:nomod] Module 'angulartics.google.analytics' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.
http://errors.a

[2016-12-29 13:31] Wuntenn opened #90 "Multiple transition errors"
Is anyone able to help me to understand why I'm getting the following errors?:

- `angulartics.js:379 Error: transition superseded`

    at Object.invoke (http://localhost:3000/lib/angular/angular.js:4842:19)
    at http://localhost:3000/lib/angular/angular.js:4636:37
    at getService (http://localhost:3000/lib/angular/angular.js:4783:32)
    at injectionArgs (http://localhost:3000/lib/angular/an

[2017-01-05 00:49] hamxiaoz commented on #30
@danielsmink I created a PR updating the main site:

https://github.com/angulartics/angulartics.github.io/pull/9

I know this is for GA only but there is no GA doc available so I updated the main site.  The alternative is that we add GA examples to the [GA readme](https://github.com/angulartics/angulartics-google-analytics/blob/master/README.md)

Let me know what works best.

[2017-01-05 16:24] otravers opened #92 "Can you use ga("set")?"
This is a similar question to my earlier MixPanel issue (https://github.com/angulartics/angulartics-mixpanel/issues/26), I want to make sure this works the same with Google Analytics.

I want to use ga('set') to define custom dimensions, metrics, and content groups, can I just use the regular GA syntax via Angulartics? I.e. code like the following:

[code]
and

`ga('set', 'contentGroup1', 'My Grou

[2017-01-06 23:22] timelf123 commented on #92
Yes

[2017-01-12 09:12] mjrdnk commented on #1
Same issue here. Is there a way to lazy-load angulartics modules in AngularJS app? When ad-block is used on the client, it causes JS error and no page is displayed. Has anyone walked it around already?
Thanks!

[2017-01-13 15:19] Wuntenn opened #93 "Missing method: registerTransactionTrack in Angulartics"
I'm getting an error:
`hint.js:569 Uncaught Error: [$injector:modulerr] Failed to instantiate module mean due to:`

TypeError: $analyticsProvider.registerTransactionTrack is not a function
    at http://localhost:3000/lib/angulartics-google-analytics/lib/angulartics-ga.js:252:22

I've gone to the Angulartics code base and cannot find this method either. Has anyone else encountered this issue, or i

[2017-01-13 18:19] timelf123 commented on #93
https://github.com/angulartics/angulartics/blob/master/src/angulartics.js#L59 do you have the latest angulartics?

[2017-01-14 12:44] Wuntenn commented on #93
I decided to uninstall and re-install the modules just to be sure that issues weren't coming from inconsistent files. At that point I was using `Angulartics#1.3.0` and `Angulartics-google-analytics#0.4.0`

I've downgraded `Angulartics-google-analytics#0.4.0` to version  `Angulartics-google-analytics#0.3.0`and now i'm back to my [original issue :(](https://github.com/angulartics/angulartics/issues/

[2017-01-14 16:23] #93 closed

[2017-01-14 16:23] Wuntenn commented on #93
Solved it... man i'm still dumb!

[2017-01-16 09:37] mjrdnk commented on #1
There is actually no issue anymore, as the module fails to load locally on development setup via bower. It works on prod though! No issue

[2017-01-16 12:48] SangeetAgarwal commented on #1
@mjrdnk can you share how you got it to work on prod with ad-block on client?

[2017-01-16 12:55] mjrdnk commented on #1
@SangeetAgarwal Well, what I mean by 'it works', is it does not cause javascript error and the app is still functional. Tracking is disabled though. On prod we serve minified vendor and our own code.On dev env it just caused [...modulerr] error typical to misspealing module name in app.module.js.

[2017-01-17 21:56] timelf123 commented on #1
summary: bundle your angulartics code (app.js) or rename the files to avoid adblock

[2017-01-20 18:13] otravers opened #94 "Support for social interactions?"
Aside from pageviews and events, GA has a syntax specifically for "social interactions":
https://developers.google.com/analytics/devguides/collection/analyticsjs/social-interactions

In GA code:
`ga('send', 'social', [socialNetwork], [socialAction], [socialTarget], [fieldsObject]);`

How is this supported by Angulartics? I search the doc and respository and couldn't find any mention of it.

[2017-01-20 23:28] DanWilkerson commented on #94
We're really just a plugin for Angulartics, not so much a Google Analytics-specific lib. To that end, Angulartics doesn't have a trackSocial method (and I suspect that we probably won't, as it is GA specific AFAIK).

As a consultant who works with Google Analytics every day, I'd recommend that you don't use the social interaction hit type at all, and instead use events and pass social data that wa

[2017-01-21 01:21] otravers commented on #94
Thanks Dan for the quick reply and the good work you guys are doing at Luna. Up to now I've always used events for social tracking, for some reason I hadn't paid attention to the social interaction thing in GA. Bumped into it today while reviewing some documentation and I thought I might have missed something.

[2017-01-21 01:21] #94 closed

[2017-01-24 14:35] SangeetAgarwal commented on #1
doesn't seem to work, so
` (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script',

[2017-01-24 14:41] mjrdnk commented on #1
@SangeetAgarwal could you provide your how you load your vendor components in html? Are you using any building solution like bower?
You should be serving all vendor resources, as well as your app bundled together using bower, webpack or similar tool.
Correct me if I am wrong. Cheers!

[2017-01-25 04:02] SangeetAgarwal commented on #1
@mjrdnk I'm using `grunt-contrib-uglify` for minifying vendor components and `grunt-ng-annotate` . Here's snippet of how I inject angulartics
`var app=angular.module("ncqaReportCards",["ngRoute","ngSanitize","ngCookies","ui.router","bw.paging","config","angulartics","angulartics.google.analytics","ngMap","angular-loading-bar"]);app.config(["$urlRouterProvider","$stateProvider","$logProvider","cfpL

[2017-01-25 17:56] timelf123 commented on #1
Bundle these three files into one renamed file:

[code]

[code]

[2017-01-26 02:17] SangeetAgarwal commented on #1
@timelf123 - awesome! - that works - thanks

[2017-02-01 14:30] foxinni commented on #40
**How To:**

1. Include `$analytics` in your controller like you typically would.

[code]

2. Then in your controller you'll need to have something like this to post the order to analytics.

[code]

[2017-02-01 15:50] DanWilkerson commented on #40
Thanks, yes docs are in need of an update.

[2017-02-13 20:44] cesarvarela opened #96 "How to enable ecommerce?"
Seems like the plugin commits seppuku:

https://github.com/angulartics/angulartics-google-analytics/blob/master/lib/angulartics-ga.js#L361

Why is that?

btw. i'm using angulartics with the oogle tag manager plugin

[2017-03-18 23:32] DanWilkerson commented on #96
:rofl:

Well, I'm open to suggestions, but because we're not responsible for booting up Google Analytics itself with the plugin, and because we need to do detection to tell which version we're using, it seemed smart to just let the handler fail silently. Open to suggestions! I had had a console.log in there but we got some complaints about it clogging up test suite output.

[2017-03-18 23:33] #92 closed

[2017-03-19 17:27] DanWilkerson commented on #96
Oh, also, to answer your question in the title - you don't need to enable it, you can just use the transactionTrack method on `$analytics`.

If you're using [Enhanced Ecommerce](https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-ecommerce), then you need to set `$analyticsProvider.settings.ga.enhancedEcommerce` to `true` in your conf.

[2017-03-22 16:24] surya1024 opened #98 "Is there a way to exclude specific events to be tracked."
I am using angularities with multiple vendors and I like few of my events not be tracked by Google analytics, is there a way this can be achieved now?

[2017-03-24 16:32] DanWilkerson commented on #98
No, and (although I don't speak for everyone), it seems very unlikely to me that this behavior would be supported.

[2017-04-04 16:34] ddcovery opened #101 "Events not dispatched (not sended) if no navigation"
I'm trying to track an event when I'm into a controller.
`$analytics.eventTrack('myevent');`

I'm using "angulartics.debug" and I can see in the console the corresponding
`"Event tracking:  myevent undefined"`

The problem is nothing is sended to google analytics.

If I navigate to an external web imediatelly after eventTrack (i.e.:  $window.location="...."), then the "collect" call is performed t

[2017-04-24 14:25] kwinz opened #102 "Help needed: Automatic pageview tracking does not track anchor URI per default"
Dear all,

thanks to angulartics-google-analytics I have to declarative event tracking working well, and also the automatic pageviews trigger nice pageview entries in Google Analytics. However what drives me mad is that the anchor part of the URI is not visible in the Analytics Dashboard.

angulartics-google-analytics creates requests like this:
[code]
Notice how the `cd=%2Findex.html%23%2Fsign-in

[2017-04-25 07:55] kwinz commented on #98
I would welcome this as a new feature.

There is a very real use case where you have different analytics vendors with some providing more in depth analytics (e.g. funnel analysis) while being more expensive or having different business model.
Some vendors charge much higher on a per event basis.

So a big+1 for this proposal from me. I would like to add a "blacklist" tag with a list of vendors tha

[2017-04-26 12:55] DamodarSojka opened #103 "Events tracking not working with UserID"
To be honest I am not entirely sure that's a problem with this plugin or with angulartics.

No events are being shown in the google analytics dashboard when UserID feature is enabled. The events are tracked without the UserID feature and the navigation is working with both UserID and without it.

If you feel like that's not the bug with this plugin or with angulartics I would appreciate any help o

[2017-05-11 05:25] bo25tbird opened #104 "Autolinker & Full path tracking"
I have my Angular JS app on a subdomain, so am using the Google Anaytics autoLink between domain.com & app.domain.com.  The issue is it appends the beginning of my angular JS path.  I'm using full path tracking and so might be trying to pick up the ?_gs=123 as a page or ignoring it completely from the ?_
Any idea on a fix?

https://app.smith.com/?_ga=2.123423528.72087221.1494478657-1323090092.1483

[2017-05-13 12:07] Benraay opened #105 "Set called on unknown field: "$$html5"."
Hi I have noticed a weird thing on the trackings send by this implementation
the send Event contains a lot of fields that are not used by google analytics
why do you send all those with $$ in front ?
ga("send", {$$html5: true, $$protocol: "http", $$host: "localhost", $$port: 50023, $$parse: [function], $$compose: [function], $$parseLinkUrl: [function], $$path: "/", $$search: {}, $$hash: "", $$url:

[2017-05-13 17:56] #82 closed

[2017-05-13 18:02] DanWilkerson commented on #105
I considered them harmless so I left them in; the change is the result of a fix to allow arbitrary property keys be set and passed in. They do junk up the debugger output, though, and are wasteful to include. I believe changing `angular.extend({}, properties, ...)` to `angular.extend(angular.copy(properties), ...)` will work just as well and cause those to be dropped, as `.copy()` ignores `$` pref

[2017-05-13 18:02] #105 closed

[2017-05-13 18:08] DanWilkerson commented on #104
You don't need to use cross domain tracking and your cookieDomain setting is incorrect. Set cookieDomain to 'auto' and remove the require and linker statements - as long as you're using the same Property ID to track both subdomains, your users will be correctly tracked. You may wish to modify your referral exclusion list as well. Here's a complete blog post on how to do what I'm talking about:

ht

[2017-05-13 18:08] #104 closed

[2017-05-13 20:49] Benraay opened #107 "improve request : Google Single page application recommandations"
I found this page on google analytics documentation :
https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications

It says we should set the page and then call a pageview Event like this :
ga('set', 'page', '/new-page.html');
ga('send', 'pageview');

and not putting the "page" parameter on the "pageview" Event because other
calls like Events would be attached

[2017-05-13 20:55] Benraay commented on #105
I tried to edit the new comment I have put but it does not work here is the
whole message sorry :

I found this page on google analytics documentation :
https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications

It says we should set the "page" and then call a "pageview" Event like this
:
ga('set', 'page', '/new-page.html');
ga('send', 'pageview');

and not

[2017-05-14 02:48] DanWilkerson commented on #107
Hi Benjamin,

This is covered by the current codebase; thank you for sharing your finding.

Dan

[2017-05-14 02:48] #107 closed

[2017-05-14 13:40] DanWilkerson commented on #105
Good news; the current codebase actually sets the `page` value on every hit, using the same URL as was set by the most recent trackPage. We're all covered on that front.

[2017-05-14 13:44] DanWilkerson commented on #96
I'm going to mark this closed; let me know if you still need a hand.

[2017-05-14 13:44] #96 closed

[2017-05-14 13:45] DanWilkerson commented on #101
Are you sure that the event hit is being sent then? There's nothing in Angulartics that I can think of that could cause the behavior you're describing. However, the autoPageview feature would track a pageview when you switch routes, which may be what you're seeing?

[2017-05-14 13:51] DanWilkerson commented on #102
Sorry, I believe you may be using a different plugin - the example hit you shared is a "screenview" hit type, which is for tracking mobile apps and is not supported by this plugin.

The field you need is the "page" field to set. That overrides the page URI found in the dl parameter.

[2017-05-14 13:51] #102 closed

[2017-05-14 13:53] DanWilkerson commented on #103
If this is still an issue, share your configuration and I'll take a look.

[2017-05-14 21:12] Benraay commented on #105
I'm sorry I did'nt saw in the analytics debug I probably missed it

Benjamin Raaymakers

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally protected from disclosure. If you are not
the intended recipient of this message or their agent, or if this mess

[2017-05-14 22:59] DanWilkerson commented on #105
No worries! Thanks for chiming in, I appreciate it.

[2017-05-16 19:49] kwinz commented on #102
Thanks Dan! Where does it state that "screen-view' hit type is not supported by this plugin on mobile apps? I think this need to be documented much more prominently.

[2017-05-17 13:18] DanWilkerson commented on #102
How are you dispatching the screenview - are you calling `ga('send', 'screenview')` directly? That's what I'm trying to figure out here.

It's not supported because that hit type is meant for native app tracking and this plugin is for web application tracking. Simple as that. It's worth pointing out that the two hit types do not play together - you can't view them both in the same View, for exampl

[2017-05-18 12:24] kwinz commented on #102
Maybe it's a missunderstanding between us,I am not using a native app butan Angular / Cordova / Ionic app. To the tracking code this should just look like a webpage. I am not calling ga() directly, I am using automatic Angulartics pageviews.

I was now able to work around the arguably wrong usage of the` dl `parameter in this plugin by manually calling
[code]
in `$stateChangeSuccess`
See http://st

[2017-05-18 17:01] DanWilkerson commented on #102
I'm afraid that there is a misunderstanding.

For starters, there's no way the plugin could emit a screenview hit type. It simply isn't possible. You're may be seeing that from the GA SDK on the native side of your hybrid app. Without seeing your code, I can't tell you how this hit is being dispatched, just that it is. The only way to dispatch a hit with `t=screenview` is by calling `ga('send', 's

[2017-05-18 17:15] DanWilkerson commented on #102
Here's a plunkr demonstrating the above:

https://embed.plnkr.co/YldKruEbVJP1LqOjdZWa/

I used the same configurations that you shared. Sorry, I really believe this is being caused by other code in your application.

[2017-05-22 10:04] kwinz commented on #102
Hi @DanWilkerson: thanks for the replies. This is  in a consulting project that has finished. I will keep investigating but on my spare time so I will take longer to respond.

[2017-05-23 18:21] avilaton commented on #96
I'm using angulartics-google-tag-manager and I'm not sure how I could go about using `transactionTrack` on that context. Any hints?
Thanks!

[2017-05-25 16:48] DanWilkerson commented on #96
@avilaton Currently the GTM lib doesn't support transactions, it's behind. Haven't found the time to put it in yet.

[2017-05-26 15:38] avilaton commented on #96
I read through the code of both plugins and am willing to take a wack at it. I tried hacking something together but I guess I need to load the ecommerce extension some how, not sure how yet.

[2017-05-26 20:38] DanWilkerson commented on #96
You're headed down the wrong path; the plugin stuff is handled by GTM. All we need to do is push the transaction to the dataLayer in this format for EE:

https://developers.google.com/tag-manager/enhanced-ecommerce#purchases

And this format for "traditional" ecommerce:

[code]

The best option (IMO) is to push it in a neutral format and then use a Variable in GTM to re-format it for the vendor, s

[2017-05-26 20:39] DanWilkerson commented on #96
I should add that once the data is pushed in, a Tag needs to be created to take care of the data. For EE that should be an Event with the Enhanced Ecommerce setting enabled, for traditional there's a Transaction hit type. It's all very complicated.

[2017-06-02 06:36] sandeepgujela commented on #40
@foxinni
I am getting an error :
**$analytics.transactionTrack is not a function**

`.controller( 'ContactUsCtrl', function( $scope, scrollService, BaseService, AppUtils, $analytics ) {
 var analytics_order = {
  'id': 1321,                         // Transaction ID. Required.
  'affiliation': 321321   ,   // Affiliation or store name.
  'revenue': 6565,          // Grand Total.
  'shipping': 2152

[2017-06-02 11:56] foxinni commented on #40
@sandeepgujela I'm not totally sure. I edited my original post to include the config part that you will need to add. Also double check that you have the angulartics scripts added to the index.html and that they are included in your app at startup.

Also use `console.log($analytics)` on that page to make sure the service is available on that page. If that fails the $analytics itself isn't being loa

[2017-06-02 13:08] DanWilkerson commented on #40
@sandeepgujela The 'require', 'ecommece' command is unnecessary, we take care of that; the code looks odd here:

$analytics.transactionTrack(**{**analytics_order**}**);

I believe you should just call $analytics.transactionTrack.

Verify that you're using angulartics/google-analytics 1.4 and angulartics 1.0 or higher.

[2017-06-07 15:14] avilaton commented on #96
Hi @DanWilkerson thanks for the pointers, I think I've made some progress. I changed code in `angulartics-google-tag-manager` sort of like this:
[code]
and tested firing with:
[code]
while also adding to my tagmanager acount a:
- A tag for universal analytics, which has the type of transaction,
- a trigger which fires on events of type `transaction` which is a key I added to the payload above,

I'

[2017-06-08 10:22] AndrewIsh opened #108 "Is 'dp' correctly populated in pageviews?"
Hi

Apologies if this is actually a question best suited for Angulartics, I wasn't sure, but since I'm using both Piwik and Google Analytics plugins and only seeing this in GA, I thought I'd start here :-)

I'm comparing what's sent to GA between pageviews and events and am seeing a disparity and, despite having consulted the GA documentation, am still not very clear if it's correct or not.

Here

[2017-06-08 12:23] DanWilkerson commented on #108
Hey, that's correct, the pageview should start with a / and not the entire domain. Could you share the settings you're using? I'll take a look.

[2017-06-08 12:23] #103 closed

[2017-06-08 12:23] #101 closed

[2017-06-08 12:24] #98 closed

[2017-06-08 12:40] AndrewIsh commented on #108
Hi

The only setting I have that isn't default is:
[code]
Disabling this doesn't seem to make any difference.

Anything else I could check?

[2017-06-09 02:44] DanWilkerson commented on #108
Hm, not sure - when I use those settings, I'm just seeing the path, not the whole URL:

https://embed.plnkr.co/E1pkruXFhMfvMGF0CK2y/

Anything else you can spot that may be different..?

[2017-06-09 07:45] AndrewIsh commented on #108
Interesting, I'm not seeing any GA hit output in the console in that Plunker.

Here's a recording: https://drive.google.com/file/d/0B-pNMV5EBjtMZGFidzh2T3lUYjQ/view

The only difference I can see is that I'm explicitly calling:
[code]

I'm wondering if the problem is my use of `absUrl()` here?

[2017-06-09 08:21] AndrewIsh commented on #108
Just to update, switching to:
[code]
causes `dp` to be set correctly. So, that would appear to be my problem. Would you agree?

[2017-06-09 09:31] AndrewIsh opened #109 "Incorrect ea parameter"
Hi

I'm making the following call:
[code]
Yet, in the request made to Google Analytics, I'm seeing:
[code]
It looks as though `ea` is being wrongly assigned. I'm not sure if the object I'm passing to `eventTrack()` is correct for the Google Analytics plugin?

[2017-06-09 09:33] AndrewIsh commented on #109
I'm wondering if the problem lies here: https://github.com/angulartics/angulartics-google-analytics/blob/master/lib/angulartics-ga.js#L114

Should this not be `properties.action`?

[2017-06-09 09:40] AndrewIsh commented on #109
OK, taking a look at what is being passed as `action` to the `registerEventTrack()` callback, it's incorrect there. So I'm wondering if the problem is in Angulartics, I'm inclined to think I'm doing something wrong though as it seems too substantial a problem to still exist in Angulartics! Going to do some more digging...

[2017-06-09 12:59] DanWilkerson commented on #108
👍 Yep, that's it. That value just gets passed straight to the dp param.

On Fri, Jun 9, 2017 at 4:21 AM Andrew Isherwood <notifications@github.com>
wrote:

--
Dan Wilkerson
@notdanwilkerson
717-507-4231

[2017-06-09 13:03] DanWilkerson commented on #109
The first argument is your Action, then you pass in an object with your
label etc. Take a look at the source file - there are annotations with
parameters that ought to help.

https://github.com/angulartics/angulartics-google-analytics/blob/master/lib/angulartics-ga.js

The reason for this is that Angulartics core supports many analytics
providers, so there's some funky syntax to make it work that

[2017-06-09 13:09] AndrewIsh commented on #108
Aha, excellent. Mystery solved :) Now I just need to figure out how to make `eventTrack()` consistent. But that's not your problem! Thanks very much for the help, much appreciated.

[2017-06-09 13:09] #108 closed

[2017-06-09 13:14] DanWilkerson commented on #108
Sure thing; happy to help!

On Fri, Jun 9, 2017 at 9:09 AM Andrew Isherwood <notifications@github.com>
wrote:

--
Dan Wilkerson
@notdanwilkerson
717-507-4231

[2017-06-09 14:06] AndrewIsh commented on #109
Aha, I'd not appreciated that the first argument was the action, I just thought it was some arbitrary name. Changed that and `ea` is now being correctly assigned. Many thanks for your help!

[2017-06-09 14:06] #109 closed

[2017-06-14 17:16] DanWilkerson commented on #90
That looks like the Angulartics error tracking is borking the stack, but it's not the source of the error:

(relevant code in question):

function exceptionTrack($provide) {
  $provide.decorator('$exceptionHandler', ['$delegate', '$injector', function ($delegate, $injector) {
    return function (error, cause) {
      **var result = $delegate(error, cause);**
      var $analytics = $injector.get('

[2017-09-05 18:13] #90 closed

[2017-09-13 14:07] kasienna opened #110 "bower installing"
I met the error with adblocker blocking this module and bombing whole app.
So I decided to update the module. Anyway, when building the project, both bower and npm are downloading files with name angulartics-google-analytics.js. I can't explain it. Can you?

[2017-11-17 14:49] mikesnare opened #111 "Invoking ga 'send' for social tracking purposes"
I'm having some trouble getting social tracking working in some scenarios.  I know that social tracking is not something you support, but something seems off and it seems related to angulartics/angulartics-google-analytics.

Issue https://github.com/angulartics/angulartics-google-analytics/issues/94 makes it clear that this plugin will not support social tracking since it's not supported in angula

[2017-11-17 15:20] mikesnare commented on #111
A bit more info, the following snippet in the console dumps a correctly configured ga instance when this is run locally:

`window.ga(console.dir)`

but yields nothing when running outside of development.  However, ga events triggered using the `$analytics` service still work correctly.

[2017-11-17 16:55] timelf123 commented on #111
We only remove the `send` pageview call to let angulartics handle the first pageview track, not the actual function. Sounds like something in prod isn't firing correctly - have you made sure to whitelist the site in your ad blocker? I'd like to see a plunk/jsfiddle of this to debug, seems like a local issue and I won't be able to do much without a full example

[2017-11-17 17:09] mikesnare commented on #111
I have whitelisted it.  It's not that.  If it were that, then `$analytics.eventTrack` wouldn't work, either.

This is a situation where `$analytics.eventTrack` works correctly but `window.ga('send', ...` does not, which makes absolutely no sense since (as I read the angulartics-google-analytics code) this plugin just delegates directly to window.ga in `applyUniversalCall_ `.

However, I have found

[2017-11-17 18:23] DanWilkerson commented on #111
@mikesnare are you using GTM? GA "names" trackers; the default one is named t0, and they've added some sugar so you can call t0 simply omitting the name, e.g. the standard `ga('send', 'pageview')` call. This translates under the hood to `ga('t0.send', 'pageview');`.

Try using the [Google Analytics Debugger plugin](https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdileelhofj

[2017-11-17 19:40] mikesnare commented on #111
@DanWilkerson we are not using GTM, so that wouldn't be the issue.  My tracker names are `'t0'` (default) and one other that we've set up.  Using the debugger I do not see any references to gtm.

Again, though, that would only make sense (to me, at least) if it were always happening.  This only happens when I'm not running locally.

Here's what I get trying to manually run this in the console with

[2017-11-17 19:53] DanWilkerson commented on #111
It's not GTM specific - that error actually IS the error that you get when you don't prepend the name to the command. Try running this:

[code]

And see what comes out.

Per the social reports, here's the changelog for the API where they document deprecating/removing many of the metrics and dimensions associated with that hit type:

https://developers.google.com/analytics/devguides/reporting/core/

[2017-11-17 21:24] mikesnare commented on #111
Thanks for the response.  Yes, I was able to work around the issue using `ga.getAll` and I posted that info earlier.  Still, calling `ga('send', 'event', ...)` does not work but `$analytics.eventTrack(...)` does.  That's the crux of the issue and it just doesn't make any sense to me.  Your snippet regarding pulling names works as expected, but (again) I already knew that using ga.getAll was workin

[2017-11-17 22:05] DanWilkerson commented on #111
What did the output for that command look like? If you share a page I can take a look, too. I'm a bit puzzled myself at the moment.

Yup, you got it; the code has to prepend the name of the tracker with one exception. We actually do that here:

https://github.com/angulartics/angulartics-google-analytics/blob/master/lib/angulartics-ga.js#L483-L489

The exception is if the tracker is instantiated wi

[2017-11-17 22:44] mikesnare commented on #111
Well... shit.  Surprising that my 2 days of experience with google analytics failed me here...  :)

I have several places where I'm testing this and some have the default tracker and some do not.  As you'd expect, `window.ga(...)` works in those places where I have a default tracker setup -- but only for the default one and not the non-default one.  This is working as expected and the correct way

[2017-11-17 22:44] #111 closed

[2017-11-17 23:45] DanWilkerson commented on #111
Word! Glad you got it solved 🎉

[2017-12-06 22:10] bennyt2 commented on #59
I had some trouble implementing multiple accounts, so here's how I did it. Note: I am using analytics.js.

Step 1: Call ga.create() for each account you intend to send to. You must define the 4th argument, a name, for every tracker after the first one

[code]

Step 2: In your .config function, add the **names** of each additional tracker, not the IDs, to the `$analyticsProvider.settings.ga.additio

[2017-12-07 18:47] spaceribs opened #112 "Support gtag.js"
Semi-recently, gtag.js was released. It would be great if this library supported the new standard: https://developers.google.com/analytics/devguides/collection/gtagjs/migration

[2017-12-08 01:59] DanWilkerson commented on #112
Thanks for the suggestion! As it turns out, all gtag.js does is load analytics.js and pass it commands. It's mean to act as a layer of syntactical sugar to support multiple Google tools, so we're actually kind of cracking the same nut here, as far as I can see.

[2017-12-08 14:24] spaceribs commented on #112
Interesting! so basically the "ga" global is loaded in the page as well as "gtag"? are there any disadvantages to calling "ga" directly?

[2017-12-09 00:10] DanWilkerson commented on #112
Yup, you got it; when gtag loads, it processes the config commands, then fetches whatever libraries it requires (in this case analytics.js) and sets up the command queue for that tool. You can see it all go down in the gtag.js source.

[2017-12-11 20:50] #112 closed

[2018-02-15 12:56] craigbroadman opened #113 "Nothing is recorded to google analytics"
I am using the latest version of angulartics and the latest version of angulartics-google-analytics (downloaded via bower) and it isn't recording anything to google analytics.

If however I replace the angulartics-ga.min.js script with a previous version (0.17.2) it all works ok.

What am I missing?

[code]

[2018-02-22 09:02] lucianosantana commented on #113
@craigbroadman
Although I don't see any version 0.17.2. I suspect that either you didn't add the Google Analytics tracker code or it's been loaded after Angulartics code. The problem is that the `dispatchToGa` function is defined on the module's config phase and if for any reason the GA script is not loaded yet, then it won't do any action, never. In my opinion it should try to set the function ag

[2018-02-22 09:54] lucianosantana commented on #113
@craigbroadman try using the unminified file from this fork I've just done and let me know if that works for you. It actually fixed the use case I have in a project, where the analytics ID is received via an API, therefore the script is lazy loaded after the API call is done.

https://github.com/lucianosantana/angulartics-google-analytics/blob/master/lib/angulartics-ga.js

Do you think it makes se

[2018-02-22 19:40] DanWilkerson commented on #113
Go ahead and submit a PR and I'll take a look; definitely not a bad idea, and how I would have done it if I were here when the project started.

[2018-02-22 22:50] lucianosantana commented on #113
@DanWilkerson here is the PR https://github.com/angulartics/angulartics-google-analytics/pull/114
I've noticed there are some CI errors due to npm warning. Unrelated to the change I've made. In any case I'd say this should be fixed in a separate PR.

[2018-02-26 14:53] DanWilkerson commented on #113
Thanks for the PR!

[2018-02-26 14:53] #113 closed

[2018-04-30 20:45] pbrain19 opened #115 "dimensionsAndMetrics should just pass the object as expected"
I am working with a huge app that has some analytics in. When trying to use the setUserProperties the source reveals that all properties are ignored if they do not contain the word metric or dimension. This restriction needs to be removed as google maps does not have such restrictions and it interferes with naming conventions a user may want in their analytics. So my question is why there is a nee

[2018-08-24 00:06] rcollette opened #116 "Universal Analytics Creates A Named Tracker by Default"
What I'm seeing at the moment is that a named tracker is created by default.  I'm not doing anything to set a named tracker anywhere, I don't make any `ga()` call in my code. I'm merely including the tracking code.
[code]
What I see when the app loads is
[code]
Note that the tracker name created is gtag_my_account_id.   This is done in line 4049 of the gtag code (after formatting in chrome).
[code

[2018-10-01 14:24] henrahmagix opened #117 "Angular's $location object is sent to analytics for every page track"
The second argument to the `pageTrack` method of Angulartics is the `$location` object seen here:
https://github.com/angulartics/angulartics/blob/80325aa938dfbbe95b2e1287767d6e47294935bf/src/angulartics.js#L306

which results in multiple extra fields being sent to `ga()` due to extending the object here:
https://github.com/angulartics/angulartics-google-analytics/blob/8593282c61b790f0fee0012319c3c

[2018-10-01 14:27] henrahmagix commented on #117
I'm not sure if this means those extra fields are being sent to Google or not, and whether that's ok or not, but I feel like it's a bug.

I'm also not sure of the intent of Angulartics `pageTrack` specific method, so I can't be sure that this library _shouldn't_ be extending properties. I would submit a pull-request but I don't feel familiar enough with this project, sorry =)

[2018-10-09 10:40] kwinz commented on #102
I have since moved on and unfortunately I can not keep working on this. Thank you!

[2019-01-15 22:19] ssohal commented on #116
I'm seeing the exact same behavior.

[2019-02-13 17:23] mohanrao opened #118 "eventTrack is not sending the uid with version of 7.4.0"
Hi,

I am trying to use eventTrack and I can verify it is not sending the uid

[2020-05-08 18:57] mikesnare opened #119 "Is it possible to send an event and target one of several trackers?"
Say I've set up multiple trackers using `$window.ga('create', ...)` and `$analytics.settings.ga.additionalAccountNames = ['foo'];` and then later I want to send an event to just the `foo` tracker.  Is that possible using angulartics and the GA plugin?

[2020-08-12 14:03] ildikototh commented on #93
@Wuntenn  How did you solve this?

[2020-09-03 22:24] jeremyml opened #120 "How to handle adblocking of angulartics-ga.min.js"
ublock origin blocks the loading of the file angulartics-ga.min.js, which causes the AngularJs 1.7 app to fail to load.

Is there a way to detect if the `angulartics-ga.min.js` file in fact loaded prior to ` angular.module('app',dependancyArray);` ?  I could remove `angulartics.google.analytics` from `dependancyArray` if angulartics-ga.min.js was blocked.

What is the best way to conditionally han

[2021-01-27 23:01] jeremyml commented on #120
I am disappointed at the lack of support on this issue.  The adblocker breaks the entire application due to this issue.  I think we will just need to remove google analytics.

[2021-02-09 13:43] ghost opened #121 "Can not dynamically set Analytics property key"
I cant get the current setup to work and there is nothing in the documentation for this.

1. Load App and inject $analyticsProvider
2. Ajax request to backend to retrieve google api key
3. Fill in Analytics API key trough $analyticsProvider

It seems it only gives me the option to put it in the head of my index.html.